body {
  margin: 0;
  padding: 24px;
  text-align: center;
  font-family: system, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  line-height: 1.5;
  color: #222;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none;
  background: #f6f6f6;
  box-sizing: border-box;
  -webkit-user-drag: none;
  font-feature-settings: "pnum" 1, "kern" 1, "liga" 1;
}

.header {
  padding: 24px 0;
}

h1 {
  margin: 0;
  font-weight: 400;
}

.description {
  margin: 0 0 8px;
}

.links {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.link + .link {
  margin-left: 16px;
}

a {
  color: #4e5098;
  text-decoration: none;
}

a:hover {
  color: cornflowerblue;
}

section {
  padding: 24px 0;
}

h3 {
  font-weight: 400;
}

.canvas {
  width: 300px;
  height: 150px;
}

.piechart {
  width: 160px;
  height: 160px;
}
